<div class="container-fluid mt-5 contact-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <h1 class="text-center main-heading">Contact Us</h1>
                <p class="text-center sub-heading">We will be happy to help you</p>
                <div class="row">
                    <div class="col-md-8 col-8 mx-auto">
<form action="/contact" method="POST">
  <div class="mb-0.5">
    <label for="Name" class="form-label">Name</label>
    <input type="Name" class="form-control" id="exampleInputName" placeholder="Full Name" name="Name">
  </div>

  <div class="mb-0.5">
    <label for="exampleInputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter your Email" name="Email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-0.5">
    <label for="Phone number" class="form-label">Phone</label>
    <input type="Phone number" class="form-control" id="exampleInputPhone" placeholder="Phone number" name="Phone number">
  </div>
  
  <div class="mb-0.5">
   <label for="Message" class="form-label">Message</label>
   <input type="text" class="form-control" id="exampleInputText" placeholder="Message" name="Message" rows="3">
  </div>

  <!--<div class="mb-0.5 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>-->

  <button type="submit" class="btn-style btn-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>
</div>